[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.26"
matplotlib = ">=3.7"
scipy = ">=1.13.1"

[dev-packages]
build = "~=1.2.1"
ruff = "~=0.12.2"
sphinx = "~=7.3.7"
scikit-learn = "~=1.5.0"

[requires]
python_version = "3"

[scripts]
format = "ruff format"
lint = "ruff check"
lint-fix = "ruff check --fix"
unittest = "python -m unittest"
typos = "typos -w dte_adj docs tests"
