[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.26"
matplotlib = "~=3.7"

[dev-packages]
build = "~=1.2.1"
ruff = "~=0.4.9"
sphinx = "~=7.3.7"

[requires]
python_version = "3.11"

[scripts]
format = "ruff format"
lint = "ruff check"
lint-fix = "ruff check --fix"
unittest = "python -m unittest"
